[submodule "native/wrapers/transport/vendor/capnproto"]
	path = native/wrapers/transport/vendor/capnproto
	url = https://github.com/capnproto/capnproto.git
[submodule "native/wrapers/ryugraph/vendor/ryugraph"]
	path = native/wrapers/ryugraph/vendor/ryugraph
	url = https://github.com/predictable-labs/ryugraph.git
[submodule "native/wrapers/column"]
	path = native/wrapers/column
	url = https://github.com/solenopsys/zig-stanchion.git
[submodule "native/wrapers/lmdbx"]
	path = native/wrapers/lmdbx
	url = https://github.com/solenopsys/zig-lmdbx.git
[submodule "native/adapters/bambu-local/vendor/paho.mqtt.c"]
	path = native/adapters/bambu-local/vendor/paho.mqtt.c
	url = https://github.com/eclipse-paho/paho.mqtt.c.git
[submodule "native/wrapers/md4c/vendor/md4c"]
	path = native/wrapers/md4c/vendor/md4c
	url = https://github.com/mity/md4c.git
[submodule "native/wrapers/sqlite-vec/vendor/sqlite-vec"]
	path = native/wrapers/sqlite-vec/vendor/sqlite-vec
	url = https://github.com/asg017/sqlite-vec.git
[submodule "native/wrapers/ryugraph"]
	path = native/wrapers/ryugraph
	url = https://github.com/solenopsys/zig-ryugraph.git
[submodule "native/wrapers/md4c"]
	path = native/wrapers/md4c
	url = https://github.com/solenopsys/zig-md4c.git
[submodule "native/behemoth"]
	path = native/behemoth
	url = https://github.com/solenopsys/behemoth.git
[submodule "native/wrapers/mbedtls"]
	path = native/wrapers/mbedtls
	url = https://github.com/solenopsys/zig-mbedtls.git
[submodule "native/wrapers/baresip"]
	path = native/wrapers/baresip
	url = https://github.com/solenopsys/zig-baresip.git
[submodule "native/wrapers/libdatachannel"]
	path = native/wrapers/libdatachannel
	url = https://github.com/solenopsys/zig-libdatachannel.git
